<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--  By default, every event from AWT is executed  under thread AWT-EventQueue -->
    <!--  To prevent this ugliness, a class is designated to convert thread's name of  -->
    <!--  every log that is executed under this thread to "GUI"  -->
    <conversionRule conversionWord="tName" converterClass="me.knighthat.interactivedeck.logging.ThreadNameConverter"/>

    <!-- Log to CONSOLE at INFO or at "-Dlog.level=" level -->
    <property name="LOG_LEVEL" value="${log.level:-INFO}"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                <charset>UTF-8</charset>
                %white(%d{HH:mm:ss}) %cyan(%-5tName) %highlight(%-5level) %msg%n%throwable
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_LEVEL}</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/logs.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%d{HH:mm:ss} %-5tName %-5level %msg%n%throwable</Pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--  Rollover daily and use Gzip compression algorithm to compress file  -->
            <fileNamePattern>${log.dir}/%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--  Or compress when file reaches 10 Megabytes  -->
            <maxFileSize>1MB</maxFileSize>
            <!--  Keep logs for 30 days  -->
            <maxHistory>30</maxHistory>
            <!--  If total logs size reaches 1 Gigabytes before 30 days  -->
            <!--  then delete older ones  -->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--  File logging always at DEBUG level  -->
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>